{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-panel grey darken-4 white-text">
            <img class="responsive-img" src="{{ asset('img/logo.png') }}">
            <div class="row">
                <div class="col m12">
                    <h3>Bienvenidos!<h3>
                    <h5>eTraffic busca hacer una mejor distribución de tránsito utilizando los semáforos de la ciudad realizando una sincronización estratégica gracias a las nuevas tecnologías que nos permiten analizar el tráfico para evitar lugares afectados por accidentes, cortes o grandes embotellamientos.</h5>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        html, body {
            height:100%;
        } 
    </style>
{% endblock %}
